@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #fff;
  --color-gray: #c4c4c4;
  --color-black: #000;
  --color-purple: #8000ff;
  --color-light-purple: #cf59e6;
  --color-light-blue: #6bc5f8;
}
body,
html {
  scroll-behavior: smooth;
}
.universal-wrapper {
  max-width: 1024px;
  height: 100px;
}
.nav {
  background-color: rgba(255, 255, 255, 0.066);
  border: rgba(204, 204, 204, 0.352) solid 1px;
}
